<header class="container-fluid hero-banner justify-content-center align-items-center", style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= asset_path 'cinema_hero.jpg' %>)">
  <h1>All your movies in one place</h1>
</header>

<div class="container my-4">
  <div class="d-flex justify-content-between mb-5">
    <h2>My Lists</h2>
    <%= render 'lists/modal', list: @list %>
    <button type="button" class="btn btn-success text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create New List
    </button>
  </div>
<div class="row gap-4 justify-content-evenly">
    <% @lists.each do |list| %>
      <% if list.thumbnail.attached? %>
        <% bg_image_url = cl_image_path(list.thumbnail.key) %>
        <%= link_to list_path(list), class: "my-button col-2 d-flex rounded justify-content-center align-items-center mr-3 text-white", style: "background-image: url('#{bg_image_url}');" do %>
          <h3 class="my-2"><%= list.name %></h3>
        <% end %>
      <% else %>
        <%= link_to list_path(list), class: "my-button col-8 d-flex rounded justify-content-center align-items-center mr-3 text-white" do %>
          <h3 class="my-2"><%= list.name %></h3>
        <% end %>
      <% end %>
    <% end %>
  </div>


</div>
